__mocks__/**/*
.github
.qlty
.vscode
*.vsix
coverage
dist/**/*.js.map
images/*.pptx
node_modules/**
!node_modules/@vscode/
!node_modules/@vscode/codicons/
!node_modules/@vscode/codicons/dist/
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
scripts
src
test-data
test-workspace
.gitignore
.vscodeignore
DEVELOPMENT.md
test-report.html
tsconfig.json
tools/**/target.txt
tools/**/sha256.txt
docs/component-viewer
*.config.{mjs,js,mts,ts}
*.setup.{mjs,js,mts,ts}
